-# .flash-box
-#   .information
-#     グループを作成しました。curriculums/1185, 2675

.wrapper
  = render 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group<
          test-group
        %ul.main-header__left-box__member-list
          Member :
          %li.main-header__left-box__member-list__member
            test-user

      = link_to 'edit_group_path' do
        .main-header__edit-btn<
          Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker<
            test-user
          %p.message__upper-info__date<
            2019/01/01(Tue) 0:0:0
        .message__text
          こんにちは
        .message__upper-info
          %p.message__upper-info__talker<
            test-user
          %p.message__upper-info__date<
            2019/01/01(Tue) 0:0:0
        .message__text
          さようなら

    .form
      %form.new_message#new_message
        .input-box
          %input.input-box__text#message_content{placeholder: 'type a message'}
          %label.input-box__image
            %i.fa.fa-image
        %input{type: "submit", value: "Send", class: "submit_btn"}
