@import "./variable";
@import "./reset";
@import "font-awesome";
.flash-box {
  color: white;
  text-align: center;
  width: 100vw;
  background-color: $waterblue;
}

.wrapper {
  display: flex;
  .chat-side {
    width: 300px;
    color: white;
    float: left;
    .side-header {
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      .side-header__box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        font-size: 16px;
        .side-header__box__menu{
          display: flex;
          .white-color {
            color: white;
          }
        }
      }
    }

    .groups {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      a {
        color: white;
        text-decoration: none;
        .group {
          margin-bottom: 40px;
          .group__group-name {
            font-size: 15px;
            margin-bottom: 5px;
          }
          .group__latest-message {
            font-size: 11px;
          }
        }
      }
    }
  }

  .chat-main {
    width: calc(100vw - 300px) ;
    float: left;
    .main-header {
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eeeeee;
      .main-header__left-box {
        margin-top: 35px;
        .main-header__left-box__current-group {
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
        }
        .main-header__left-box__member-list {
          display: flex;
          font-size: 12px;
          color: #999;
        }
      }
      a {
        color: skyblue;
        text-decoration: none;
        .main-header__edit-btn {
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          margin-top: 28px;
          border: solid 1px $waterblue;
        }
      }
    }

    .messages {
      height: calc(100vh - 263px);
      padding: 46px 40px;
      background-color: #fafafa;
      .message {
        .message__upper-info {
          display: flex;
          margin-bottom: 10px;
          .message__upper-info__talker {
            color: $left-string-color;
            font-weight: bold;
            font-size: 16px;
          }
          .message__upper-info__date {
            color: #999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        .message__text {
          font-size: 14px;
          color: $left-string-color;
          padding-bottom: 40px;
        }
      }
    }
    .form {
      height: 90px;
      padding: 0 40px;
      background-color: #ddd;
      justify-content: center;
      line-height: 90px;
      .new_message {
        display: flex;
        align-items: center;
        .input-box {
          position: relative;
          width: 100%;
          .input-box__text {
            height: 50px;
            width: 100%;
            &::placeholder {
              color: $left-string-color;
              font-size: 16px;
              padding-left: 10px;
            }
          }
          .input-box__image {
            font-size: 1.3rem;
            position: absolute;
            top: 0px;
            right: 10px;
            cursor: pointer;
          }
        }
        .submit_btn {
          width: 100px;
          height: 50px;
          margin-left: 15px;
          background-color: $waterblue;
          
        }
      }
    }
  }
}
